
body{
    margin: 0 auto;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50px 70vh;
}
#main-header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    /*opacity: 0.80;*/
    background-image: url("https://i.pinimg.com/originals/be/ba/4b/beba4b4e567d40bc2b77ed263c30afc9.jpg");
    height: 66vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
    text-align: center;
    color:#1a979b;
    z-index: 0.5;
    font-size: x-large;
    
}
#main-header> h1{
    padding-top: 6.5rem;
}
.dropbtn {
    
    margin: 0 auto;
    background-color: Transparent;
    color: #138b8f;
    width: 100%;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;

  }
  
  .dropdown {
    margin: 0 auto;  
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    display: inline-block;
    width: 100% ;
    z-index: 1 ;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 160px;
    
    z-index: 2;
  }
  
  .dropdown-content a {
    color: #741494;
    padding: 12px 16px;
    text-decoration: none;
    
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #8feee6}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  






.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
  border: rgb(166, 231, 195) solid;
  border-radius: 20px;
  background-color: #dde0d4;

}

.menu-item-image {
    margin: 0 auto;
  width: 250px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
  border-radius: 16px;
}


.menu-item-text {
  flex-grow: 1;
  font-family: 'Georama', sans-serif;
}

.menu-item-heading {
  display: flex;
  /*justify-content: space-between;*/
  margin: 0;
  margin-right: 1.5em;
  font-family: 'Manrope', sans-serif;
}



.menu-item-description {
  line-height: 1.6;
}
footer{
    height: fit-content;
    background-color: #223338;
    margin: 0 auto;
    color: antiquewhite;
    padding: 30px;
    line-height: 1.5rem;
}

@media screen and (max-width: 3000px) {
  .menu {
    font-size: 16px;
  }
  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

 
}
@media screen and (max-width: 1000px) {
    
    .menu-group {
      grid-template-columns: repeat(1, 1fr);
    }
  
   
  }

@media screen and (max-width:768px) {

    .menu-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .menu-item {
    display: flex;
    flex-direction: column;
    border: rgb(166, 231, 195) solid;
    border-radius: 20px;
    background-color: #dde0d4;

  }
  .menu-item-image {
    
    position: relative;
    height: 300px;
   border: none;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.dropbtn{
    font-size: 20px;
    padding-left: 0;
    color: #d4fffb;
}
.menu-item-text {
    
    font-family: 'Encode Sans', sans-serif;
  }


}